body{
    background: var(--branco-principal);
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
}
.img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}
.img span{
    font-size: 18px ;
    font-weight: 500;
     color: var(--cor-secundaria);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.menu__nav{
    margin-right: 500px;
}
