:root{
    --branco-principal:#FFFFFF
}
:root{
    --vermelho-principal:#8E2424
}
:root{
    --titulo-principal:#101828
}
:root{
    --texto-secundario:#667085
}
:root{
    --fonte-principal:"Inter", sans-serif;
}
:root{
    --cor-secundaria:#3A404E
}